name: Deploy SABR Site
on:
  push:
    branches: ["main"]
jobs:
  build_site:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install, Build, and Deploy
        uses: withastro/action@v2
